<ion-list class="category-tree">
  <a href="#/app/home" class=" item item-divider" menu-close ng-if="title">
    {{title}}
  </a>

  <div ng-repeat="cat in categories">
    <!-- Level 1 -->
    <ion-item class="item-cat" ng-click="toggleCat(cat)" ng-class="isActive(cat)">
      {{cat.name}}
      <span class="item-note">
        <i class="icon" ng-if="cat.items.length" ng-class="isCatShown(cat) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
      </span>
    </ion-item>

    <!-- Level 2 -->
    <div ng-repeat="subCat in cat.items">
      <ion-item class="item-sub item-icon-left" ng-click="toggleSubCat(subCat)" ng-show="isCatShown(cat)" ng-class="isActive(subCat)">
        <i class="icon" ng-class="subCat.iconClass"></i>
        {{subCat.name}} <i class="icon icon-inline" ng-if="subCat.items.length" ng-class="isSubCatShown(subCat) ? 'ion-android-remove' : 'ion-android-add'"></i>
      </ion-item>

      <!-- Level 3 -->
      <ion-item class="item-item item-icon-left" ng-repeat="item in subCat.items" ng-show="isSubCatShown(subCat)" ng-click="checkLink(item)" ng-class="isActive(item)">
        <i class="icon"></i>
        {{item.name}}
      </ion-item>
    </div>
  </div>
</ion-list>
