<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
  	<ion-nav-buttons side="left">
      <button ng-click="onClick()" class="button  button-assertive  button-clear button-icon icon ion-ios-email-outline"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-gallery ion-gallery-items="events" ion-gallery-row="3"></ion-gallery>
  </ion-content>

</ion-view>
