<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="padding">
        <h2>&nbsp;</h2>
        <div class="list">

            <a class="item fondoButton item-button-right " style="color: #fff;" ng-repeat="items in listaevento" ng-click="ChangeEvent({{items.id}})">
                {{items.es}}
                <button class="button fondoButton ">
                    <i class="icon ion-chevron-right"></i>
                </button>
            </a>

        </div>


    </ion-content>

</ion-view>
