<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="padding">

    <ion-list>

      <a class="item item-button-right"  ng-repeat="items in listVideos" ng-click="goVideo360(items.video)">
        {{items.titulo}}
        <button class="button button-assertive button-clear">
          <i class="icon ion-chevron-right"></i>
        </button>
      </a>


         </ion-list>



  </ion-content>

</ion-view>
