<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>


  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left assertive" menu-close href="#/app/lisevento">
        <i class="icon ion-arrow-swap"></i>
        Cambiar Evento
      </ion-item>
      <ion-item class="item item-icon-left assertive" menu-close href="#/app/mygalleria">
        <i class="icon ion-ios-photos-outline"></i>
        Mi Galeria
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
