<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button ng-click="onClick()" class="button  button-assertive  button-clear button-icon icon ion-ios-email-outline"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="video in videos" href="#/app/videos/{{$index}}" class="item-icon-left">
      	<i class="icon ion-ios-film-outline"></i>
        <h2>{{video.video}}</h2>
        <!--<p>{{video.descripcion}}</p>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
