  <ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-back-button class="button  button-assertive  button-clear button-icon">
      <i class="icon ion-arrow-left-c"></i>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button ng-click="onClick()" class="button button-assertive button-clear button-icon icon ion-ios-email-outline"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <h2>&nbsp;</h2>
    <div class="list card padding-bottom">

      <div class="item item-image full-image">
        <video  ng-src="{{videoURL | trusted}}"  class="centerme" controls="controls" type="video/mp4" autoplay></video>
      </div>

    </div>

  </ion-content>
</ion-view>
