<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-back-button class="button  button-assertive  button-clear button-icon">
            <i class="icon ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">360 </h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>
    <ion-content class="padding">
        <h2>&nbsp;</h2>
        <div class="list card">
            <ion-item class="item item-image">
                <photosphere  src="{{img | trusted}}" speed="10" resolution="40" controls="all"> </photosphere>
            </ion-item>
        </div>


    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">

    </ion-footer-bar>
</ion-view>
