
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced">
    <img src='img/headerlogo.png' class='title-imagen-modal'>
    <button class="button button-clear button-assertive" ng-click="closeModal()"><i class="icon ion-ios-close-outline"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <iframe ng-src="{{getUrlVideo | trusted }}" width="100%" height="100%"></iframe>
  </ion-content>
</ion-modal-view>
