<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen' side='left'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="bar bar-subheader bar-assertive">
    <button class='button button-clear ion-ios7-arrow-left'></button>
    <h2 class="title">{{"Programme" | translate}}</h2>
    <button class='button button-clear ion-ios7-arrow-right'></button>
  </div>
  <ion-content class="padding">
    <h2>&nbsp;</h2>
   <!-- <div class="agenda">
      <div class="agendaitem">
        <div class="agendaday">
          <div class="agendadaydate">
            <span class="month">1st </span>
            <span class="month">March</span>

            <div class="filter"></div>
          </div>
          <div class="session">
            <h3>SEAT Press conference </h3>
            <p class="time">07:45</p>

          </div>
          <div class="agendadaydate">
            <span class="month">VOLKSWAGEN GROUP BRANDS</span>
            <span class="month">PRESS CONFERENCE TIME</span>
          </div>
          <div class="session">
            <h3>VOLKSWAGEN</h3>
            <p class="time">08:05</p>

          </div>
          <div class="session">
            <h3>SKODA</h3>
            <p class="time">08:25</p>

          </div>

          <div class="session">
            <h3>BENTLEY</h3>
            <p class="time">08:45</p>

          </div>
          <div class="session">
            <h3>AUDI</h3>
            <p class="time">09:05</p>

          </div>
          <div class="session">
            <h3>PORSCHE</h3>
            <p class="time">09:25</p>

          </div>
          <div class="session">
            <h3>BUGATTI</h3>
            <p class="time">09:45</p>

          </div>
          <div class="session">
            <h3>LAMBORGHINI</h3>
            <p class="time">10:05</p>
          </div>


        </div>
      </div>

    </div>
-->
<div class="card">
  <div class="item item-text-wrap"  ng-bind-html='toTrustedHTML( Agenda.agenda )'>

  </div>
</div>

  </ion-content>

</ion-view>
