<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <div class="bar bar-subheader bar-assertive">
            <button class='button button-clear ion-ios7-arrow-left'></button>
            <h2 class="title">{{"Documents" | translate}}</h2>
            <button class='button button-clear ion-ios7-arrow-right'></button>
        </div>
    </ion-nav-bar>
    <ion-content class="padding">
        <h2>&nbsp;</h2>
        <div class="list">

            <a class="item item-thumbnail-left" ng-repeat="item in doc" href="#">
                <img src="img/pdf.png">
                <h2>{{item.name}}</h2>
                <p><button class="button fondoButtonDoc" ng-click="openPDF(item.pdf)">{{"ViwDoc" | translate}}</button></p>
            </a>

        </div>

        </div>
    </ion-content>

</ion-view>
