<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="bar bar-subheader bar-assertive">
    <button class='button button-clear ion-ios7-arrow-left'></button>
    <h2 class="title"> {{"TechnicalInfo" | translate}}</h2>
    <button class='button button-clear ion-ios7-arrow-right'></button>
  </div>
  <ion-content class="padding">
    <h2>&nbsp;</h2>
    <div class="list">

      <a class="item item-coche " ng-repeat="item in ficha" href="#">
        <img src="{{item.imagen}}" >
        <h2>{{item.modelo}}</h2>
        <p><button class="button fondoButton" ng-click="openPDF(item.pdf)">{{"ViwDoc" | translate}}</button></p>
      </a>

    </div>

  </div>
  </ion-content>

</ion-view>
