<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">KML</h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>
    <ion-content class=" has-header padding">
        <h2>&nbsp;</h2>

        <iframe src="http://seatprapp.com/events/en/workshop-digital/seevideo360?video=video-360-workshop-digital-sobre-tecnologia" style="width:100%;height:100%"></iframe>
    </ion-content>

</ion-view>
