<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">Roadbooks</h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>

    <ion-content class=" has-header padding">
        <h2>&nbsp;</h2>
      <div class="list">
        <div class="item">
          <button class="button button-full fondoButton" ng-click="GoHomeMap()"><i class="icon ion-ios-location-outline"></i> {{"GoHomeMap" | translate}} </button>
          <button class="button button-full fondoButton" ng-click="MapConect()"><i class="icon ion-ios-location-outline"></i> {{"GoMap" | translate}} </button>

        <!--<button class="button button-block button-assertive" ng-click="cargarRuta()">Cargar Ruta</button>-->
        </div>
      <div class="item">
        <ng-map zoom="11" center="41.385064,2.173403">
          <kml-layer url="{{kmlUrl | trusted}}">
          </kml-layer>
        </ng-map>
        </div>

          </div>



    </ion-content>

</ion-view>
