<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in Kml" class="item item-icon-left assertive" menu-close href="#/app/kml/{{item.data}}">
        <i class="icon ion-ios-navigate-outline"></i>
        {{item.data}}
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
