<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="padding has-header">
    <h2>&nbsp;</h2>
    <div class="content-login">
      <form>
        <header>{{'Login'| translate}}</header>
        <label>{{'Username' | translate }} <span></span></label>
        <input ng-model="user.username" type="text"/>

        <label>{{'Password' | translate }} <span></span></label>
        <input ng-model="user.password" type="password" />

        <button ng-click="LoginUser(user)" >{{'BtnLogin' | translate}}</button>
      </form>
    </div>



  </ion-content>

</ion-view>
