<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">{{"Phone" | translate}}</h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>
    <ion-content class=" has-header padding">
        <h2>&nbsp;</h2>
    <ion-list>

      <a class="item a-phone item-button-right" ng-repeat="item in ReqPhone" href="tel:{{item.phone}}">
        <span>{{item.texto}}</span>
        <button class=" phone">
          <i class="icon ion-ios-telephone "></i>
        </button>
      </a>
    </ion-list>
    </ion-content>

</ion-view>
