<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button ng-click="onClick()" class="button  button-assertive  button-clear button-icon icon ion-ios-email-outline"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
    <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">{{"PointInt" | translate}}</h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>
    <ion-content class=" has-header padding">
        <h2>&nbsp;</h2>

      <ion-list >
        <a class="item item-icon-left" href="#/app/viewpunto">
        <i class="icon ion-chevron-right assertive"></i>
          {{ReqInt[0].titulo}}
        </a>
      </ion-list>
           </ion-content>

</ion-view>
