
<ion-view view-title="Tech cards" >
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <embed src="{{pdf}}" width="200" height="200"></embed>
    </ion-content>
</ion-view>
