<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">360</h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>
    <ion-content class="padding">
        <h2>&nbsp;</h2>
        <ion-list >
            <a class="item item-icon-left" ng-repeat="item in images" ng-click="goGetUrl('http://seatprapp.com/backoffice/upload/info_eventos/panos/'+item.imagen);">
                <i class="icon ion-ios-world-outline"></i>
                {{item.nombre}}

            </a>
        </ion-list>


    </ion-content>

</ion-view>
