<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>">
    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">{{dash.data[0].es}}</h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>
    <ion-content class="padding">
        <h2>&nbsp;</h2>
        <div class="list card padding-bottom">
            <div class="item item-divider">
                <h2 class="text-center">{{dash.data[0].es}}</h2>
            </div>
            <div class="item item-image full-image">

                <video  src="{{video | trusted}}" class="centerme" poster="" controls="controls" type="video/mp4" autoplay></video>
            </div>
            <div class="item ">
                <h2 class="text-center">{{dash.data[0].ubicacion }}</h2>
                <p class="text-center"> {{dash.data[0].fecha }}</p>
            </div>
        </div>
    </ion-content>

</ion-view>
