<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>

      <div class="card">
        <div class="item item-image">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" refresh="refreshMap">
            <ui-gmap-marker coords="marker2.coords" options="marker2.options" idkey="marker2.id" click="onClick2()" control="marker2Control">
            </ui-gmap-marker>
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id" click="onClick()" control="markerControl">
                <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                  <div style="height: 100%; width: 100%">
                    <h4>You are here</h4>
                  </div>
                </ui-gmap-window>
            </ui-gmap-marker>
          </ui-gmap-google-map>

           <a class="item item-icon-left assertive" ng-click="controlClick()" ng-show='visibleTakeMe'>
            <i class="icon ion-ios-navigate-outline"></i>
            Go to SEAT Stand ({{distance | number : 2}} Km far)
          </a>
          <a class="item item-icon-left assertive" ng-show='visibleLoading' disabled="disabled">
            <ion-spinner icon="ripple " class="icon spinner-assertive"></ion-spinner>
            Loading geoposition...
          </a>
          <a class="item item-icon-left assertive" ng-click="controlClickRetry()" ng-show='visibleRetry'>
            <i class="icon ion-pinpoint"></i>
            Calculate my position
          </a>
      </div>
    </div>

  </ion-content>

</ion-view>
