<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced ">

            <ion-nav-back-button class="button-assertive"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header fondoHeader">

        </header>
        <ion-content class="has-header">
<ion-list>
  <a class="item" href="#/app" menu-close >{{Imenu.WELCOME}}</a>
  <a class="item item-icon-right" href="#"  ng-click="Open()">{{Imenu.TheEvent}} <i id="iconseat" class="icon iconmenu ion-arrow-left-b"></i></a>
  <div ng-if="estado" class="animate-if">
    <a class="item asub " href="#/app/agenda" menu-close>{{Imenu.Programme}} </a>
  <a class="item asub " href="#/app/estaticas" menu-close>{{Imenu.StaticPictures}} </a>
  <a class="item asub" href="#/app/dinamicas" menu-close>{{Imenu.DynamicPictures}}</a>
  <a class="item asub" href="#/app/eventos" menu-close>{{Imenu.EventPictures}}</a>
  <a class="item asub" href="#/app/fichatecnica" menu-close>{{Imenu.TechnicalInfo}}</a>
  <a class="item asub" href="#/app/doc" menu-close>{{Imenu.Documents}}</a>
  <a class="item asub" href="#/app/360" menu-close>360</a>
  <a class="item asub" href="#/app/videos" menu-close>{{Imenu.VideoGallery}}</a>
  <a class="item asub" href="#/app/listadokml" menu-close>Roadbooks</a>
  <a class="item asub" href="#/app/punto" menu-close>{{Imenu.PointInt}}</a>
  <a class="item asub" href="#/app/phone" menu-close>{{Imenu.Phone}}</a>
  </div>
  <a class="item" href="#/app/login" menu-close>{{Imenu.Login}}</a>

</ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
