<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-back-button>
      <i class=" icon ion-chevron-left assertive"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-subheader bar-assertive">
    <button class='button button-clear ion-ios7-arrow-left'></button>
    <h2 class="title">{{"PointInt" | translate}}</h2>
    <button class='button button-clear ion-ios7-arrow-right'></button>
  </div>
  <ion-content class=" has-header padding">
    <h2>&nbsp;</h2>
    <div class="list card" >

      <div class="item item-avatar" >

        <h2>{{ReqInt[0].titulo}}</h2>

      </div>

      <div class="item item-body">
        <img class="full-image" src="img/hotel.jpg">
        <p>
          {{ReqInt[0].content}}
        </p>

      </div>

    </div>
  </ion-content>

</ion-view>
