<ion-view view-title="<img src='img/headerlogo.png' class='title-imagen'>" >

    <ion-nav-bar class="bar bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button  button-assertive  button-clear button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader bar-assertive">
        <button class='button button-clear ion-ios7-arrow-left'></button>
        <h2 class="title">Weather</h2>
        <button class='button button-clear ion-ios7-arrow-right'></button>
    </div>
    <ion-content>
        <h2>&nbsp;</h2>
        <div class="list card">
            <div class="item item-divider"><h1>City: {{weather.name}}</h1></div>
            <div class="item item-thumbnail-left">
                <img src="{{getIconUrl(weather.weather[0].icon)}}" />
                <h1>{{weather.weather[0].main}}</h1>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-thermometer"></i>
                <h2>Current Temperature: {{weather.main.temp}}&deg;</h2>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-thermometer"></i>
                <h2>Today's High: {{weather.main.temp_max}}&deg;</h2>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-thermometer"></i>
                <h2>Today's Low: {{weather.main.temp_min}}&deg;</h2>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-waterdrop"></i>
                <h2>Humidity: {{weather.main.humidity}}%</h2>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-shuffle"></i>
                <h2>Wind: {{weather.wind.speed}}mph, {{getDirection(weather.wind.deg)}}</h2>
            </div>
        </div>
    </ion-content>

</ion-view>
