@font-face {
  font-family: 'Seat Font';
  src: url('../lib/ionic/fonts/SEATMBR.TTF?v=2.0.1')  format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'SeatMetaNormal';
  src: url('../lib/ionic/fonts/SEATMBR.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SeatMetaItalic';
  src: url('../lib/ionic/fonts/SEATMBI.TTF');
  font-weight: normal;
}

@font-face {
  font-family: 'SeatMetaLight';
  src: url('../lib/ionic/fonts/SEATMNR.TTF');
}

@font-face {
  font-family: 'SeatMetaLightItalic';
  src: url('../lib/ionic/fonts/SEATMNI.TTF');
}

@font-face {
  font-family: 'SeatMetaBoldItalic';
  src: url('../lib/ionic/fonts/SEMEBI_.TTF');
}

@font-face {
  font-family: 'SeatMetaBlackItalic';
  src: url('../lib/ionic/fonts/SEMEBKI_.TTF');
}

@font-face {
  font-family: 'SeatMetaBlackRoman';
  src: url('../lib/ionic/fonts/SEMEBKR_.TTF');
}

@font-face {
  font-family: 'SeatMetaBoldRoman';
  src: url('../lib/ionic/fonts/SEMEBR_.TTF');
}

@font-face {
  font-family: 'SeatMetaMediumItalic';
  src: url('../lib/ionic/fonts/SEMEMI_.TTF');
}

@font-face {
  font-family: 'SeatMetaMediumRoman';
  src: url('../lib/ionic/fonts/SEMEMR_.TTF');
}

@font-face {
  font-family: 'SeatMetaNormalItalic';
  src: url('../lib/ionic/fonts/SEMENI_.TTF');
}

@font-face {
  font-family: 'SeatMetaNormalRoman';
  src: url('../lib/ionic/fonts/SEMENR_.TTF');
}

.a-phone{
  position: relative;
}

.phone i{
  position: absolute;
  top: 11px;
  font-size: 20px;
  left: 0;
  right: 0;

}

.clipin{
  position:absolute !important;
  clip:rect(50px 218px 155px 82px) !important;
  top:-50px !important;
  left:-82px !important;
}

video {
  background-image: url('img/imagedoc-lightnoise.png');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  background-position: center center;

}

@media (max-width: 700px) and (orientation: portrait) {
  .centerme{height: 400px;}
  @media screen and (-webkit-min-device-pixel-ratio:0){  /*Hack para Safari y Chrome*/
    .centerme{
      height: 400px;
    }
  }
}



.asub{
  font-family: SeatMetaLight,"Seat Font";
}

.fondoButton{

  background: rgba(229,30,68,1);
  background: -moz-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,30,68,1)), color-stop(100%, rgba(201,20,45,1)));
  background: -webkit-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -o-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: linear-gradient(to bottom, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51e44', endColorstr='#c9142d', GradientType=0 );
  color: #fff;
  border-radius: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){  /*Hack para Safari y Chrome*/
  .fondoButton{height: 44px;}
}

.fondoButton:hover{
  opacity: .6;
}


.phone{

  background: rgba(229,30,68,1);
  background: -moz-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,30,68,1)), color-stop(100%, rgba(201,20,45,1)));
  background: -webkit-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -o-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: linear-gradient(to bottom, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51e44', endColorstr='#c9142d', GradientType=0 );
  color: #fff;
  display: inline-block;
  float: right;
  max-width: 150px;
  padding: 12px 0;
  text-align: center;
  border:none;
  position: absolute;
  right: 5px;
  top:4px;
  height: 44px;
  width: 25%;
}

@media screen and (-webkit-min-device-pixel-ratio:0){  /*Hack para Safari y Chrome*/
   .phone{height: 44px;}
}

.phone:hover{
  opacity: .6;
}

body{
  font-family: "Seat Font";
}


body, .ionic-body {
  font-family: "Seat Font", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Seat Font", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.tab-item {
  font-family: "Seat Font", "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input, button, select, textarea {
  font-family: "Seat Font", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.item .item-avatar .item-body .item-text-wrap {
  font-family: "Seat Font", "Helvetica Neue";
}

canvas{
  width: 100% !important;
  height: 100%   !important;
}
.title-imagen {

  width: 126px;
}



.footer-imagen {
    height: 70px;
    margin-left: -5px;
    margin-top: -6px;
    max-width: 100%;
    position: absolute;
    width: 100%
}

.logo-menu-image {
    margin-left: -11px;
    max-width: 100%;
    width: 275px;
    height: 44px;
    position:static;
    margin-top: -5px;
}
/*Gallery  */


.agendaitem {
    padding:0 0 0 0;
    border: dashed 1px #E5DEC5;
    width:100%;
    text-align:center;
    color:#2a2a2a;
    -moz-box-shadow:    inset 0 0 4px #F7EFDC;
    -webkit-box-shadow: inset 0 0 4px #F7EFDC;
    box-shadow:         inset 0 0 4px #F7EFDC;
    margin-bottom:40px;
    background-color:#fff;
}


.agendaitem p {
    font-size:18px;
    line-height:25px;
}

.agendaitem .time {
    font-size:19px;
    font-style: italic;
    font-family:"Seat Font";
    margin-bottom:15px;
}

.agendadaydate {
    padding:20px 0 20px 0;
    margin-bottom:20px;
    text-align:center;
    background-color:#A9001E;
    position:relative;
}

.agendadaydate .month {
    font-size:26px;
    display:block;
    margin-bottom:10px;
    font-weight:bold;
    color:#fff;
    position:relative;
    z-index:12;
}

.agendadaydate .bignumber {
    font-size:90px;
    color:#fff;
    font-weight:900;
    line-height:70px;
    position:relative;
    z-index:12;
}

.agendadaydate .filter {
    opacity:.2;
}

.session {
    margin-bottom:0px;
    padding:20px;
    border-bottom: dashed 1px #E5DEC5;
    background-color:#fff;
}

.session:last-child {
    border-bottom:none;
    margin-bottom:0;
}

.contentsection .session h3 {
    color:#A9001E;
    text-transform:capitalize;
    margin-bottom:5px;
    font-size:20px;
}

.centerme {
    margin: 0 auto;
    width: 100%;
    height:auto;
}


.platform-android .tittle-center {
    margin-left: 0px;
    max-width: 100%;
    width: 183px;
    height: 41px;
    position:static;
}

.platform-ios .title-center {
    margin-left: 0px;
    max-width: 100%;
    width: 183px;
    height: 41px;
    position:static;
}

.angular-google-map-container { height: 480px; }

.fondoHeader{
  background: rgba(229,30,68,1);
  background: -moz-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,30,68,1)), color-stop(100%, rgba(201,20,45,1)));
  background: -webkit-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -o-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: linear-gradient(to bottom, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51e44', endColorstr='#c9142d', GradientType=0 );

}




.animate-if {
  background:white;


}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

#iconseat{
  font-size: 16px;
}

img[src$=".gif"], img[src$=".png"], img[src$=".jpg"], img[src$=".jpeg"],  img[src$=".JPG"], img[src$=".JPEG"] {

  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}




form {
  background: white;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
}
form header {
  background: rgba(229,30,68,1);
  background: -moz-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,30,68,1)), color-stop(100%, rgba(201,20,45,1)));
  background: -webkit-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -o-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: linear-gradient(to bottom, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51e44', endColorstr='#c9142d', GradientType=0 );

  padding: 16px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
form label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc !important;
}
form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}
form button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  background: rgba(229,30,68,1);
  background: -moz-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,30,68,1)), color-stop(100%, rgba(201,20,45,1)));
  background: -webkit-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -o-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  background: linear-gradient(to bottom, rgba(229,30,68,1) 0%, rgba(201,20,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51e44', endColorstr='#c9142d', GradientType=0 );
}
form button:hover {
  background: #ff5252;
}



.item-coche, .item-coche .item-content {
  padding-top: 8px;
  padding-left: 106px;
  min-height: 100px; }
.item-coche > img:first-child, .item-coche .item-image, .item-coche .item-content > img:first-child, .item-coche .item-content .item-image {
  position: absolute;
  top: 24px;
  left: 10px;
  max-width: 80px;
  max-height: 53px;
  width: 100%; }



